html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
    border-bottom: 2px solid rgba(153,153,153, .7);
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 55px;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    padding: 0;
    color: rgb(42, 102, 91);
}

.nav-bar ul li ul {
    visibility: hidden;
    opacity: 0;
    color: rgb(42, 102, 91);
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    text-align: center;
}

.nav-bar ul li {
    width: 170px;
    text-align: center;
}

.nav-bar ul li:hover > ul,
.nav-bar ul li:focus-within > ul,
.nav-bar ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: white;
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    margin-top: 20px;
    text-align: center;
} 

.nav-bar ul li ul .list-item {
    clear: both;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.nav-bar ul li ul .list-item:hover {
    background-color: #ddd;
    color: #111;
    transition: all .5s;
}

.nav-bar .submenu {
    text-align: center;
}

.nav-bar .list-item, .mobile-nav .mobile-list-item {
    list-style-type: none;
    margin: 0 10px;
    font-weight: bold;
}

.nav-bar .list-item a:hover {
    color: #111;
    transition: color .5s;
}

.nav-bar .list-item a, .mobile-nav .mobile-list-item a{
    text-decoration: none;
    color: rgb(42, 102, 91);
}

.nav-bar .nav-icon {
    display: none;
}

.nav-bar .language {
    position: absolute;
    right: 5px;
    top: 15px;
    text-decoration: none;
    color:rgb(42, 102, 91);
}

.mobile-nav {
    display: none;
}

.landing {
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("landing.webp");
    background-size: cover;
    background-position: center;
    margin-top: 55px;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eee;
    font-weight: 200;
}

.landing .name h1, .landing .name h3 {
    font-weight: 300;
}

.landing .name h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

.landing .name h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.biography {
    width: 80%;
    margin: 0 auto;
    color: rgb(21, 55, 49);
}

section .title {
    text-align: center;
    color: rgb(21, 55, 49);
    text-decoration: underline;
}

.button-container {
    text-align: center;
}

.see-more {
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    background-color: #0b947d;
    padding: 10px;
    color: #111;
}

.biography .columns-container {
    margin: 50px 0;
    display: flex;
}

.biography .columns-container .column {
    width: 50%;
}

.biography .columns-container .column:first-child {
    text-align: center;
}

.biography .columns-container .column img {
    border-radius: 50%;
}

.biography .columns-container .column:last-child {
    margin-top: 60px;
    color: rgb(21, 55, 49);
}

.biography .columns-container h3,
.biography .columns-container h4 {
    margin: 5px 0;
}

.biography .study-info {
    text-align: center;
    color: rgb(21, 55, 49);
    overflow: hidden;
}

.biography .extended {
    height: auto;
}

.biography .study-info .subtitle {
    margin: 40px 0;
}

.biography .study-info ul li {
    list-style-type: none;
    color: rgb(21, 55, 49);
}

.biography .study-info .list-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.biography .study-info .list-container img {
    margin-top: 60px;
    width: 200px;
    height: 50px;
}

.biography .study-info .list-container p {
    margin: 0;
}

.biography .study-info .list-container div {
    margin-left: 20px;
    width: 70%;
}

.biography #auth-logo {
    width: 131px;
    height: 143px;
    margin-top: -5px;
}

.biography #auth-logo-second {
    width: 131px;
    height: 143px;
    margin-top: 30px;
}

.biography #auth-logo-fourth {
    width: 131px;
    height: 143px;
    margin-top: 30px;
}

.biography #eurognosi {
    width: 200px;
    height: 78px;
    margin-top: 50px;
}

.biography #goethe {
    width: 210px;
    height: 90px;
    margin-top: 40px;
}

/* .biography .see-more {
    display: block;
    text-align: center;
    cursor: pointer;
} */

.contact {
    width: 80%;
    margin: 40px auto;
    color: rgb(21, 55, 49);
}

section .contact .title {
    text-align: left;
}

.contact a {
    color: rgb(21, 55, 49);
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.didaktiko-ergo,
.ereynitiko-ergo,
.epimorfotiko-ergo,
.dioikitiko-ergo,
.dimosieyseis {
    width: 80%;
    margin: 0 auto;
    color: rgb(21, 55, 49);
    
}

.didaktiko-ergo li,
.ereynitiko-ergo li,
.epimorfotiko-ergo li,
.dioikitiko-ergo li,
.dimosieyseis li {
    margin: 5px 0;
}

.didaktiko-ergo a,
.ereynitiko-ergo a,
.epimorfotiko-ergo a,
.dioikitiko-ergo a,
.dimosieyseis a {
    color: rgb(21, 55, 49);
}


/****** RESPONSIVE ******/

@media screen and (max-width: 600px) {
    .nav-bar ul {
        display: none;
    }

    .nav-bar {
        text-align: right;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .nav-bar .nav-icon {
        display: block;
        margin-right: 10px;
        font-size: 1.5em;
        cursor: pointer;
    }

    .nav-bar .language {
        display: none;
    }

    .mobile-nav {
        position: fixed;
        top: 57px;
        background-color: white;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
    
    .mobile-nav ul {
        padding: 0;
    }

    .mobile-nav ul .mobile-list-item {
        margin: 20px 0;
    }

    .mobile-nav ul .mobile-list-item a {
        font-weight: bold;
    }

    .mobile-nav .language {
        text-decoration: none;
        color: rgb(42, 102, 91);
    }

    .shown {
        display: block;
    }

    .biography {
        width: 95%;
    }

    .biography .columns-container {
        display: block;
    }

    .biography .columns-container .column {
        margin: 0 auto;
    }

    .biography .columns-container .column:last-child {
        text-align: center;
        width: 90%;
    }

    .biography .study-info ul {
        padding: 0;
    }

    .biography .study-info .list-container {
        display: block;
        text-align: center;
    }

    .biography .study-info .list-container div {
        margin-left: 0;
        width: 100%;
    }

    

    
}